    /* The sidebar menu */
    @media only screen and (min-width: 800px) {
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 16rem; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #ededed; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 40px;
  margin-left: 5rem;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #111;
  display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav .height{
    height: 90%;
}

.navtop {
    padding-top: 30px;   
}


.name {
    text-align: right;
    padding-right: 5px !important;
}
.name .namelink {
    font-size: 160%;
    color: #919191;
    margin-bottom: -15px;
}
.navig{
    border-left: solid 2px #919191;
    height: 14rem;
}

.navig a{
    padding-left: 10px;
    color: #919191;
    margin-bottom: -3px;
  
}

.copyright div p{
    color: #919191 !important;
    font-size: 85%;
   text-align: center;
}

}  


@media only screen and (max-width: 800px) {
    .sidenav {
        height: 135px; /* Full-height: remove this if you want "auto" height */
        width: 100%; /* Set the width of the sidebar */
        position: fixed; /* Fixed Sidebar (stay in place on scroll) */
        z-index: 1; /* Stay on top */
        top: 0; /* Stay at the top */
        left: 0;
        background-color: #ededed; /* Black */
      /*  overflow-x: hidden;  Disable horizontal scroll */
       /* padding-top: 40px;
        margin-left: 5rem; */
      }

.navtop{
    padding-top: 20px;
}
.navtopsmall{
    padding-top: 30px;
}
.name {
    text-align: right;
}
.name p{
    font-size: 160%;
    color: #919191;
    margin-bottom: -15px;
    
}

.navsmall{
    border-left: solid 2px #919191;
    height: 4rem;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
}
.navsmall a{
    padding: 10px;
    color: #919191;
  
  
}
.copyright div p{
    color: #919191 !important;
    font-size: 85%;
   text-align: right;
   padding-right: 20px;
   margin-top: 5px;
}
}




.collapse{
    border-top: solid 1px  #919191 !important;
    border-bottom: solid 1px  #919191 !important;
    background-color: #ededed;
    margin-top: 5px;
    margin-right: 10px;
}


a.naviglink{
    font-size: 90% !important; 
    margin-bottom: -10px !important;
    color: #919191 !important;
    margin-left: -10px;
}

a:hover{
    text-decoration: underline;
}

div a.navdrop{
    font-size: 85%;
    color: #919191 !important;
}
a.activ{
    color: black !important;
}
div a.activ{
    color: black !important;
}
@media only screen and (min-width: 800px) {
.site-content{
    margin-left: 21rem;
    display: block;
    float: left;
    width: 70%;
    background-color: transparent;
}

.content-area{
    margin: 6rem;
    display: block;
   
}
}

.content-area div{
    margin-bottom: 30px;
}
@media only screen and (max-width: 800px) {
    .site-content{
       
        display: block;
        float: left;
        margin-top: 125px;
        background-color: transparent;
    }
    
    .content-area{
        margin: 3rem;
        display: block;
       
    }
    }

.content-header{
    margin-bottom: 30px;
}

.carousel-caption {
    color: black !important;
   
    position: static !important;
}

.site-content a{
   color: black;
   text-decoration: underline;
}

.site-content a:hover{
    color: grey;
    text-decoration: underline;
 }
 
 h2, h3, h4, h5{
    margin-bottom: 20px !important;
}